.playlist {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.playlist .playlist-title {
    font-size: 2rem;
    margin: 3rem 0;
}

.album-header {
    width: 80%; 
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 1; /* Asegura que estos elementos estén por encima del canvas */
}

.song-info {
    display: flex;
    align-items: center;
}

.song-icon {
    padding: 0 1rem;
    cursor: pointer;
    user-select: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.song-duration {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.song-time {
    padding-right: 1rem;
}

.song-duration i {
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
}

.imagen-playlist {
    position: relative;
    min-height: 100vh;
    max-height: 90vh;
    object-fit: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.imagen-playlist article {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.playlist-info {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    position: relative;
    z-index: 1; /* Asegura que estos elementos estén por encima del canvas */
}

.playlist-info-img {
    min-width: 32%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-info-img img {
    width: 100%;
    height: 100%;
}

.playlist-info-text {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist-info-text h2 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
    color: white;
}

.playlist-info-text p {
    font-size: 1.6rem;
    color: white;
}

.playlist-info-text-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.playlist-info-text-buttons .bx {
    font-size: 1.4rem;
}

.playlist-info-text-buttons button {
    padding: 0.5rem 1.8rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.playlist-info-text-buttons .btn-primary {
    background-color: #1db954;
    border: none;
}

.playlist-info-text-buttons .btn-secondary {
    background-color: rgba(255, 255, 255, 0);
    border: 0.1rem solid white;
}

.playlist-info-text-buttons .btn-primary:hover,
.playlist-info-text-buttons .btn-secondary:hover {
    background-color: white;
    color: black;
}

.particles-container {
    background: linear-gradient(135deg, #000000 0%, #1f1f1f 100%);
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden; /* Asegura que no haya desbordamiento */
    z-index: 0; /* Asegura que el canvas esté detrás de los elementos */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Asegura que el canvas ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que el canvas ocupe todo el alto del contenedor */
    z-index: -1; /* Asegura que el canvas esté detrás de los elementos */
}

.playlist,
.album-header,
.song {
    position: relative;
    z-index: 1; /* Asegura que estos elementos estén por encima del canvas */
}

/* Media Queries */
@media (max-width: 768px) {

    .imagen-playlist {
        position: relative;
        width: 90vw;
        min-height: 100vh;
        object-fit: contain;
        background-image: url('/assets/10044687.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .playlist-info {
        flex-direction: column;
        gap: 2rem;
    }

    .playlist-info-text {
        text-align: center;
    }

    .playlist-info-img {
        min-width: 30%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .playlist-info-text h2 {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }
    
    .playlist-info-text p {
        font-size: 1.2rem;
    }
    
    .playlist-info-text-buttons {
        flex-direction: column;
        align-items: center;
        align-items: center;
        gap: 1.6rem;
        margin-top: 2rem;
    }
    
    .playlist-info-text-buttons .bx {
        font-size: 1.2rem;
    }
    
    .playlist-info-text-buttons button {
        padding: 0.6rem 4rem;
        font-size: 1.2rem;
        justify-content: center;
        gap: 0.8rem;
    }

    .album-header {
        width: 100%; 
    }
    
}

@media (max-width: 480px) {
    
}